.top {
	height: 30px;
	background-color: black;
}

.titre {
	text-align: center;
	margin-top: -22px;
	color: grey;
}

.menu {
	margin-top: 55px;
	border: 2px solid green;
	border-radius: 5px;
}

.btn-custom {
	margin: auto;
	width: auto;
	margin-top: 55px;
	margin-bottom: 55px;
}

.flex-nowrap-iban {
	margin: auto;
	width: auto;
	padding-left: 120px;
	padding-right: 120px;
}

.flex-nowrap-firstName {
	margin: auto;
	width: auto;
	padding-left: 120px;
	padding-right: 120px;
	margin-top: 10px;
}

.flex-nowrap-lastName {
	margin: auto;
	width: auto;
	padding-left: 120px;
	padding-right: 120px;
	margin-top: 10px;
}

.flex-nowrap-number {
	margin: auto;
	width: auto;
	padding-left: 120px;
	padding-right: 120px;
	margin-top: 10px;
}

.input {
	margin: auto;
	width: 600px;
}

.check {
	margin: auto;
	width: auto;
	margin-top: 20px;
	margin-bottom: 55px;
}

.btn-send {
	width: auto;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 50px;
}

@media screen and (max-width:700px) {
	.flex-nowrap-iban {
		padding-left: 0;
		padding-right: 0;
	}
	.flex-nowrap-firstName {
		padding-left: 0;
		padding-right: 0;
	}
	.flex-nowrap-lastName {
		padding-left: 0;
		padding-right: 0;
	}
	.flex-nowrap-number {
		padding-left: 0;
		padding-right: 0;
	}
}