<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org"
	xmls:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Home</title>

<!-- css -->
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="./css/styleHome.css">
</head>
<body>
	<div class="container-fluid top">
		<div class="bi bi-circle-fill">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
				fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
      <circle cx="8" cy="8" r="8" />
     </svg>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
				fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
      <circle cx="8" cy="8" r="8" />
     </svg>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
				fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
      <circle cx="8" cy="8" r="8" />
     </svg>
		</div>
		<div class="Titre titre">
			<h5>Pay My Buddy</h5>
		</div>
	</div>

	<div class="container-fluid">
		<nav class="navbar navbar-custom">
			<div class="button btn-custom">
				<button type="button" class="btn btn-success">Pay My Buddy</button>
			</div>

			<ul class="nav flex-row-reverse nav-custom">
				<li class="nav-item"><a href="#"
					class="nav-link disabled custom">Log off</a></li>
				<li class="nav-item"><a href="#"
					class="nav-link disabled custom">Contact</a></li>
				<li class="nav-item"><a href="withdraw"
					class="nav-link color-link custom">WithDraw</a></li>
				<li class="nav-item"><a href="transfer" class="nav-link color-link custom">Fund</a></li>
				<li class="nav-item"><a href="#"
					class="nav-link active custom">Home</a></li>
			</ul>
		</nav>
	</div>

	<div class="container-fluid breadcrumb">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item texte-custom"><a href="#">Home</a></li>
				<li class="breadcrumb-item active texte-custom" aria-current="page">Transfer</li>
			</ol>
		</nav>
	</div>

	<div class="container">
		<nav class="navbar send-money-connection">
			<div class="Texte send-money-custom">
				<h3>Pay My Buddy</h3>
			</div>
			<div class="button d-md-flex justify-content-end">
				<a href="addConnectionFriend">
					<button type="button" class="btn btn-success">Add
						Connection</button>
				</a>
			</div>
		</nav>
		<!--</div display flex>-->
		<form action="#" th:action="@{send}" method="post"
			th:object="${sendInfos}">
			<div th:if="${sendError}">
				<p style="color: red;" th:text="${sendError}" align="center"></p>
			</div>
			<div th:if="${sendSucces}">
				<p style="color: green;" th:text="${sendSucces}" align="center"></p>
			</div>
			<div th:if="${addConnectionSucces}">
				<p style="color: green;" th:text="${addConnectionSucces}" align="center"></p>
			</div>
			<div th:if="${transferSucces}">
				<p style="color: green;" th:text="${transferSucces}" align="center"></p>
			</div>
			<div th:if="${withdrawSucces}">
				<p style="color: green;" th:text="${withdrawSucces}" align="center"></p>
			</div>
			
			<div class="row select-connection">
				<div class="d-flex justify-content-around">
					<div class="row align-items-center justify-content-center select">
						<select th:field="*{idRecipient}"
							class="form-select col-10 btn-connection-custom"
							aria-label="Default select example">


							<option th:each="p : ${friendName}" th:value="${p.id}"
								th:text="|${p.firstName} ${p.lastName}|"></option>

						</select>
						
						<div class="input-group col-10 flex-nowrap-description">
							<input type="text" th:field="*{description}"
								class="form-control description-custom"
								placeholder="Description" aria-label="text"
								aria-describedby="addon-wrapping">
						</div>

						<div class="input-group col-10 flex-nowrap-number">
							<input type="number" th:field="*{sendAmount}"
								class="form-control number-custom" placeholder="0" step=".01"
								aria-label="number" aria-describedby="addon-wrapping">
						</div>

						<div class="button pay-button">
							<button class="btn btn-success" type="submit">Send</button>
						</div>
					</div>
				</div>
			</div>
		</form>

		<div class="row">
			<div class="texte transactions">
				<h3>My Transactions</h3>
			</div>
		</div>

		<div class="row">

			<table
				class="table table-borderless table-striped text-center border-custom"
				th:object="${sendInfosList}">
				<thead class="table-primary">
					<tr>
						<th scope="col">Connection</th>
						<th scope="col">Description</th>
						<th scope="col">Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="s : ${sendInfosList}">
						<th scope="row" th:text="${s.firstName}"></th>
						<td th:text="${s.description}"></td>
						<td th:text="${s.send}"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row">
			<div class="pagination justify-content-center">
				<nav aria-label="Page navigation example">
					<ul class="nav nav-pills">
						<li class="page-item"><a class="page-link" href="#"
							aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						</a></li>
						<li class="nav-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#"
							aria-label="Next"> <span aria-hidden="true">&raquo;</span>
						</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

</body>
</html>